.Recipe {
  margin: 60px 50px 0px 100px;
  width: 70%;
  font-family: $font-main;

  &__title {
    margin: 0;
    font-size: 3em;
  }

  &__sub-title {
    font-size: 1em;
    font-weight: bold;
    margin-top: 50px;
    text-transform: uppercase;
  }

  &__ingredients {
    padding-left: 0;
    list-style-type: none;

    > li {
      margin: 10px 0px;
    }
  }

  &__steps {
    padding-left: 20px;

    > li {
      margin: 10px 0px;
    }
  }
}